body {
  font-family: sans-serif;
}

h1 {
  color:  blueviolet;
  font-family: sans-serif;
}

code {
  color: red;
  font-family: monospace;
}

.green {
  color: green;
}

li {
  font-family: inherit;
}

ol li {
  background: black;
  color: white;
}