#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6), transparent), url("images/freedom.jpg") left 10% bottom 20%/cover border-box;
  height: 528px;
  margin-top: 43px;
  padding: 10px;
  position: relative;
  width: 100%;
}

#product-overview h1 {
  bottom: 0;
  color: white;
  font-family: 'Anton', sans-serif;
  left: 16px;
  position: absolute;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan__list {
  margin: auto;
  text-align: center;
  width: 80%;
}

.plan {
  background: #d5ffdc;
  display: inline-block;
  margin: 8px;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.plan--highlighted {
  background: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.plan__annotation {
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #19b84c;
  padding: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-features__list {
  margin: auto;
  text-align: center;
  width: 80%;
}

.key-feature__image {
  background: #ffcede;
  border: 2px solid #0e4f1f;
  border-radius: 50%;
  height: 128px;
  margin: auto;
  padding: 20px;
  width: 128px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-feature {
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.key-feature__description {
  text-align: center;
}
