html {
  height: 100%;
}

body {
  height: 100%;
}

div {
  border: 2px solid #eee;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

#first-box {
  height: 100%;
}

div:last-child:hover {
  background: lightblue;
}