.background {
  background: url("../images/plans-background.jpg");
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

main {
  padding-top: 32px;
}

.package {
  border: 4px solid #0e4f1f;
  border-left: none;
  margin: 16px 0;
  position: relative;
  width: 80%;
}

.package:hover,
.package:active {
  border-color: #ff5454;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package a {
  color: inherit;
  display: block;
  padding: 32px;
  text-decoration: none;
}

.package__badge {
  background: #ff5454;
  color: white;
  font-size: 12px;
  margin: 20px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  background: white;
  border: 1px solid #0e4f1f;
  padding: 16px;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  border-left: 4px solid #0e4f1f;
  border-right: none;
  float: right;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}
